<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>talk:D - 카카오 회원가입</title>
</head>
<body>
<a href="/">로고(웰컴페이지)</a><br>
<h2>회원가입 페이지</h2>
<form action="/login/join" method="post">
    이름: <input type="text" name="memberName"><br>
    닉네임: <input type="text" name="memberNickname" cols="30" rows="10"><br>
    사용자 이메일: <input type="text" name="memberEmail" readonly th:value="${Email}"><br>
    비밀번호: <input type="password" name="memberPassword"><br>
    <!--비밀번호 확인은 프론트에서 script를 이용해 간단 확인 구현-->
    <input type="submit" value="가입하기">
</form>
</body>
</html>