<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
</head>
<body>
<h2>비밀번호 변경</h2>

<form id="passwordForm">
    <input type="hidden" th:value="${updateMember.memberId}" name="memberId"><br>
    현재 비밀번호: <input type="password" id="memberPassword" name="memberPassword"> <br>
    새 비밀번호: <input type="password" id="newPassword" name="newPassword"> <br>
    <input type="button" value="비밀번호 변경" onclick="checkPassword()">
</form>

</body>
</html>
