<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
</head>
<body>
<h2>비밀번호 변경</h2>
session 값 확인: <p th:text="${session.loginEmail}"></p>
<form action="/mypage/changePassword" method="post">
    <div>
        <label for="currentPassword">현재 비밀번호:</label>
        <input type="password" id="currentPassword" name="currentPassword" required>
    </div>
    <div>
        <label for="newPassword">새 비밀번호:</label>
        <input type="password" id="newPassword" name="newPassword" required>
    </div>
    <div>
        <input type="submit" value="비밀번호 변경">
    </div>
</form>
</body>
</html>
